*{
  margin:0;
  padding: 0;
}
html{
  width: 100%;
  height: 100%;
  body{
    width: 100%;
    height: 100%;
    .carousel-inner{
      position: relative;
      .item{
        >img{
          width: 100%;
          height: 400px;
        }
        .row{
          position: absolute;
          top: 10%;
          left: 29%;
          .slider-text{
            >h1{
              font-size: 2.5em;
              font-weight: 400;
              font-family: "Josefin Slab", Arial, serif;
              color:#c40000;
            }
          }

        }
      }
    }
    a{
      color: inherit;
      text-decoration: none !important;
    }
    .full-section{
      margin-top: 3%;
      width: 100%;
      padding-bottom: 50px;
      background: url("../img/bg_china.jpg") no-repeat fixed;
      //background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      .section-title{
        color: #555;
        font-size: 2.5rem;
        line-height: 1;
        padding-bottom: 2.5rem;
        padding-top: 5rem;
        //color: #969696;
        letter-spacing: 0;
        text-align: center;
        border-bottom: 1px #E8E8E9 solid;
      }
      .card-wrap{
        cursor: pointer;
        border: none;
        border-radius: 0;
        font-size: 16px;
        color: #999;
        line-height: 16px;
        text-align: center;
        background-color: transparent;
        &:hover{
          color: #000;
          .card-title{
            background: #f8f8f8;
            outline: 1px solid #d6d6d6;
            box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.50);

            span.bottom-line{
              display: block;
              //border-radius: 6px;
              animation: stretch 1s;
              -webkit-animation: stretch 0.5s;
              -webkit-animation: stretch 0.5s;
              -moz-animation: stretch 0.5s;
              -o-animation: stretch 0.5s;
              animation-fill-mode: forwards;
              margin: 0 auto;
              margin-top: 14px;
              border-bottom: 4px #000000 solid;
              border-radius: 6px;
            }
          }

        }
        .card-title{
          padding: 15px 0;
          span{
            display: inline-block;
          }
          span.bottom-line{
            display: block;
            width: 30px;
            margin: 0 auto;
            margin-top: 14px;
            border-bottom: 4px #999 solid;
            border-radius: 6px;
          }
        }
        .card-content{
          background-repeat: no-repeat;
          height: 16em;
          .card-cover{
            display: none;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.30);
            display: table;
            .card-slogan{
              width: 100%;
              font-size: 17px;
              line-height: 28px;
              color: #ffffff;
              display: table-cell;
              vertical-align: middle;
              p{
                margin: 0px 0px 10px;
              }
            }
          }
        }
      }
    }
  }
}
@keyframes stretch {
  from{
    width: 30px;
  }
  to{
    width: 100%;
  }
}