html{
  width: 100%;
  height: 100%;

  body{
    width: 100%;
    height: 100%;
    .animals-pic{
      width: 100%;
      overflow: hidden;
      margin-top: 10px;
      //margin-bottom: 3.5em;
      .row{
        margin-bottom: 10px;
        position: relative;
        height: 14em;
        .pic-brief{
          height: 100%;
          display: table;
          position: absolute;
          top:-10%;
          opacity: 0;
          .brief-content{
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            font-size: 17px;
            line-height: 28px;
            color: #999;
            cursor: pointer;
          }
          &:hover{
            background-color: #03afdd;
            .brief-content{
              color: #fff;
            }
          }
        }
        &:nth-of-type(2n+1){
          .pic-contain{
            left: -8%;
            .box{
              margin-right: 5px;
              float: left;
            }
          }
          .pic-brief{
            right: 0;
          }
        }
        &:nth-of-type(2n){
          .pic-contain{
            right: -8%;
            .box{
              margin-left: 5px;
              float: right;
            }
          }
          .pic-brief{
            left: 0;
          }
        }
      }
      .pic-contain{
        width: 100%;
        position: absolute;
        height: 14em;
        opacity:0;
      }
      .box{
        height: 14em;
        background-repeat: no-repeat;
        background-size: cover;

      }
    }
    .banner{
      width:100%;
      height: 100%;
      top: 0;
      background: url("../img/sea.jpg") no-repeat fixed;
      background-size: cover;
      .container{
        height: 100%;
        display: table;

      }
      .words{
        display: table-cell;
        vertical-align: middle;
      }

      .banner-big{
        width: 20em;
          >h1{
            font-size:2.3em;
            color: #F5F5F5;
          }
      }
      .banner-middle{
        width: 20em;
        >h4{
          color:#EEEEE0;
        }
      }
    }
  }
}
.text-center{
  padding-bottom: 2em;
  padding-top: 3.5em;
  border-bottom: 1px #E8E8E9 solid;
  margin-bottom: 2em;
  font-size: 1.6em;
  color: #5874d8;
}
.left{
  float: left;
}
.right{
  float: right;
}
