* {
  margin: 0;
  padding: 0; }

.nav {
  width: 100%; }
  .nav .container {
    overflow: hidden; }
    .nav .container > div {
      width: 24%;
      height: 80px;
      float: left;
      cursor: pointer;
      border-right: 1px solid lightgray;
      transform-style: preserve-3d;
      position: relative; }
      .nav .container > div .btn_base {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transition: transform 0.1s;
        transform-style: preserve-3d; }
        .nav .container > div .btn_base > div {
          position: absolute;
          height: 100%;
          width: 100%;
          pointer-events: none;
          padding-left: 10%;
          padding-top: 2%; }
          .nav .container > div .btn_base > div h1 {
            font-family: "TrumpGothicEastBold", Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 30px;
            text-transform: uppercase;
            letter-spacing: 1px; }
          .nav .container > div .btn_base > div .block {
            display: block;
            width: 16px;
            height: 3px;
            background-color: #EBEBEB;
            margin-left: 1px;
            margin-top: 4px; }
        .nav .container > div .btn_base > div:nth-child(1) {
          transform: rotateX(90deg) translateZ(25px);
          color: #FFFFFF;
          background-color: #35465b; }
        .nav .container > div .btn_base > div:nth-child(2) {
          transform: rotateX(0deg) translateZ(25px);
          color: #FFFFFF;
          background-color: #ee3d3e; }
      .nav .container > div .menu-current > div:nth-child(2) {
        color: #FFFFFF;
        background-color: #35465b; }
    .nav .container > div:hover .btn_base {
      transform: rotateX(-90deg); }
    .nav .container > div .menu-current {
      transform: rotateX(-90deg); }

.footer {
  width: 100%;
  overflow: hidden;
  border-top: 1px #E8E8E9 solid; }
  .footer .bottom-share {
    font-size: 16px;
    color: #666666;
    letter-spacing: 0;
    line-height: 6rem;
    text-align: left;
    /* height: 67px; */
    border-bottom: 1px #E8E8E9 solid; }
    .footer .bottom-share .share-wechat {
      display: inline-block;
      height: auto;
      position: relative;
      margin-right: 0.5rem;
      cursor: pointer;
      flex: 1; }
      .footer .bottom-share .share-wechat img {
        margin-right: 0.5rem; }
      .footer .bottom-share .share-wechat img.share-wechat-img {
        margin-right: 0rem; }
  .footer .bd-bottom-moremsg {
    margin-right: 10%;
    display: inline-block;
    vertical-align: top; }
    .footer .bd-bottom-moremsg .bd-more-msg, .footer .bd-bottom-moremsg .bd-com-teamwork {
      font-size: 20px;
      color: #666666;
      letter-spacing: 0;
      line-height: 60px;
      text-align: left; }
    .footer .bd-bottom-moremsg a {
      display: block;
      font-size: 16px;
      color: #999999;
      letter-spacing: 0;
      line-height: 25px;
      text-align: left; }
  .footer .bd-bottom-icp {
    font-size: 14px;
    color: #666666;
    line-height: 14px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px; }

/*# sourceMappingURL=nav.css.map */
