*{
  margin: 0;
  padding: 0;
}
.page{
  .society-info{
    opacity: 0;
    position: relative;
    top: -2%;
    .row{
      margin-top: 3%;
      .title{
        text-align: center;
        h2{
          font-size: 1.6em;
          color: #5874d8;
        }
        h3{
          font-size: 1.2em;
          color: #888;
        }
      }
      .info-left{
        img{
          width: 100%;
          height: 300px;
        }
      }
      .info-right{
        h3{
          font-size: 1.2em;
          color: #000;
        }
        p{
          color: #808080;
          letter-spacing: 2px;
          font-size: 1.0em;
        }
      }
    }
  }
  .dynamic{
    opacity: 0;
    position: relative;
    top: -2%;
    .text-center{
      padding-bottom: 2em;
      padding-top: 5em;
      border-bottom: 1px #E8E8E9 solid;
    }
    h2{
      font-size: 1.6em;
      color: #5874d8;
    }
    .news-items{
      .current .decoration .news-circle .solid-circle{
        background-color: #008fff;
      }
    }
    .news-item{
      width: 100%;
      .news-box{
        .news-title{
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-decoration: none;
          color: #000000;
          padding-top: 1em;
          padding-right: 10em;
        }
      }

      .decoration{
        display: table-cell;
        width: 10%;
        vertical-align: middle;
        text-align: center;
        position: relative;
        :before{
          top: 0;
        }
        :after,:before{
          content: "";
          display: block;
          width: 1px;
          height: 50%;
          background: #ccc;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          z-index: -1;
        }
        .news-circle{
          display: inline-block;
          border-radius: 50%;
          border: 1px solid #ccc;
          background-color: #fff;
          vertical-align: middle;
          .solid-circle{
            background-color: #CCCCCC;
            border-radius: 50%;
            width: 0.6em;
            height: 0.6em;
            margin: 0.3em;
          }
        }
      }
      .news-box{
        display: table-cell;
        width: 80%;
        vertical-align: middle;
        color: #000;
        padding-left: 2em;
        border-radius: 2px;
        line-height: 2em
      }
    }
    .topic-title,.news-dynaminc{
      font-size: 1.5em;
      color: #888888;
      padding-top: 1em;
      padding-bottom: 1em;
    }
    .topic-items{
      .row .col-md-6,.row .col-sm-6{
        margin-bottom: 1.5em;
      }
      .img-outer{
        .img-inner{
          .card-img{
            border-radius: 0;
            width: 100%;
            height: 230px;
          }
        }
        .card-img-bottomlay{
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 3em;
          background: rgba(255, 255, 255, 0.8);
          text-align: center;
          font-size: 1.2em;
          line-height: 3em;
          color: #666666;
        }
      }
    }
  }
  .photos{
    opacity: 0;
    position: relative;
    top: -2%;
    .title{
      text-align: center;
      h2{
        font-size: 1.6em;
        color: #5874d8;
      }
      h3{
        font-size: 1.2em;
        color: #888;
      }
    }
    .items{
      width: 100%;
      height: 100%;
      .row{
        position: relative;
        width: 100%;
        height: 320px;
        margin-top: 50px;
        .item{
          width: 160px;
          height: 160px;
          padding: 10px;
          background-size: cover;
          /* Rotate */
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          /* Rotate Origin */
          -webkit-transform-origin: 0 100%;
          -moz-transform-origin: 0 100%;
          -ms-transform-origin: 0 100%;
          -o-transform-origin: 0 100%;
          transform-origin: 0 100%;
          position: absolute;
        }
        .item:nth-of-type(2n){
          top: 60px;
        }
        .item:nth-of-type(2n+1){
          bottom: -30px;
        }
        .item:nth-of-type(1){
          left: 190px;
          background-image: url("../img/society-8.jpg");
        }
        .item:nth-of-type(2){
          left: 320px;
          background-image: url("../img/society-9.jpg");
        }
        .item:nth-of-type(3){
          left: 450px;
          background-image: url("../img/society-10.png");
        }
        .item:nth-of-type(4){
          left: 580px;
          background-image: url("../img/society-11.png");
        }
        .item:nth-of-type(5){
          left: 710px;
          background-image: url("../img/society-12.jpg");
        }
        .item:nth-of-type(6){
          left: 840px;
          background-image: url("../img/society-13.jpg");

        }
        .item:nth-of-type(7){
          left: 970px;
          background-image: url("../img/society-14.jpg");
        }
      }
    }
  }
}